.lessons-inner-bars-holder {
    width: 100%;
    @include center;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;

    .lessons-inner-progress-bar {
        height: 10px;
        width: 100%;
        background-color: $transparent-dark-grey;
        border-left: 5px solid white;
        border-right: 5px solid white;
        opacity: 0;
        transition: 300ms;

        .lessons-inner-progress-bar-line-helper {
            height: 10px;
            width: 0;
            background-color: $blue;
            position: absolute;
            top: 0;
            transition: 500ms;
        }
        
        .lessons-inner-progress-bar-line {
            height: 10px;
            width: 0;
            background-color: white;
            box-shadow: 0px 5px 10px 0px rgba($color: white, $alpha: .4);
            position: absolute;
            top: 0;
            transition: 1s;
        }
    }
}