.lessons-inner-header {
    height: 50px;
    @include center;
    justify-content: space-between;
    background-color: $transparent-dark-grey;
    box-shadow: 0px 1px 5px 0px rgba($color: white, $alpha: .4);
    backdrop-filter: blur(2px);
    padding: 5px 50px;
    position: sticky;
    top: 0;
    z-index: 1;

    .lessons-inner-header-points-holder {
        @include center;
        gap: 5px;

        img {
            height: 30px;
            width: 30px;
            object-fit: contain;
            pointer-events: none;
        }

        strong {
            color: $grey;
            font-size: set-size(lg);
        }
    }

    h2 {
        color: $grey;
        font-family: learn-serbian-medium;
        font-size: set-size(miniheading);
        margin: 0;
    }

    img {
        height: 40px;
        width: 40px;
        object-fit: contain;
        cursor: pointer;
    }
}