.lessons-inner-connect .lessons-inner-connect-holder {
    width: 100%;

    .lessons-inner-connect-button-holder {
        width: 100%;
        @include center;
        gap: 20px;

        .lessons-inner-connect-button-holder-left,
        .lessons-inner-connect-button-holder-right {
            width: 50%;
            @include center(column);
            gap: 10px;

            button {
                width: 100%;
                @include learn-serbian-button;
            }

            .button-active {
                background-color: $purple;
                border: 1px solid white;
                cursor: default;
            }
        }
    }
}