.lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder {
    .lessons-inner-multiple-choice-questions-holder {
        width: 100%;
        @include center(column);
        gap: 10px;

        button {
            @include learn-serbian-button;
            width: 100%;
            border-radius: 10px; 
        }
    }

    button {
        background-color: $dark-grey;
    }
}