.lessons-inner-connect .lessons-inner-connect-holder {
    width: 100%;

    .lessons-inner-connect-button-holder {
        width: 100%;
        @include center;
        gap: 20px;

        .lessons-inner-connect-button-holder-left,
        .lessons-inner-connect-button-holder-right {
            width: 50%;
            @include center(column);
            gap: 10px;

            button {
                width: 100%;
                @include learn-serbian-button;
            }

            .button-active,
            .button-blocked,
            .button-correct,
            .button-incorrect {
                border: 1px solid white;
                cursor: default;

                &:hover {
                    border: 1px solid white;
                    cursor: default;
                }
            }
            
            .button-active {
                background-color: $purple;
            }

            .button-blocked {
                background-color: $dark-grey;

                &:hover {
                    background-color: $dark-grey;
                }
            }

            .button-correct {
                background-color: $green;

                &:hover {
                    background-color: $green;
                }
            }

            .button-incorrect {
                background-color: $red;

                &:hover {
                    background-color: $red;
                }
            }
        }
    }
}