.lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder {
    .lessons-inner-multiple-choice-questions-holder {
        width: 100%;
        @include center(column);
        gap: 10px;

        button {
            @include learn-serbian-button;
            width: 100%;
            border-radius: 10px;
            outline: 3px solid transparent;
        }

        .button-neutral {
            background-color: $pale-purple;
            border: 1px solid transparent;
            cursor: default;

            &:hover {
                background-color: $pale-purple;
                border: 1px solid transparent;
                cursor: default;
            }
        }
        
        .button-correct {
            outline: 3px solid $green;
            cursor: default;

            &:hover {
                outline: 3px solid $green;
            }
        }

        .button-wrong {
            background-color: $dark-blue;
            outline: 3px solid $red;
            cursor: default;

            &:hover {
                background-color: $dark-blue;
                outline: 3px solid $red;
            }
        }
    }

    .button-disabled {
        @include learn-serbian-disabled-button;
    }
}