.lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder {
    .lessons-inner-multiple-choice-questions-holder {
        width: 100%;
        @include center(column);
        gap: 10px;

        button {
            @include learn-serbian-button;
            width: 100%;
            border-radius: 10px; 
        }

        .button-neutral {
            background-color: $pale-purple;
            border: none;
            cursor: default;

            &:hover {
                background-color: $pale-purple;
                border: none;
                cursor: default;
            }
        }
        
        .button-correct {
            border: 3px solid green;
            cursor: default;

            &:hover {
                border: 3px solid green;
            }
        }

        .button-wrong {
            background-color: $dark-blue;
            border: 3px solid $red;
            cursor: default;

            &:hover {
                background-color: $dark-blue;
                border: 3px solid $red;
            }
        }
    }

    button {
        background-color: $dark-grey;
    }
}