.lessons-inner-block {
    height: calc(100vh - 60px);
    @include center;
    gap: 15px;

    .lessons-inner-block-holder {
        width: 40%;
        @include center(column);
        align-items: flex-start;
        gap: 20px;

        h3 {
            color: white;
            font-family: learn-serbian-medium;
            font-size: set-size(miniheading);
            font-weight: bold;
            margin: 0;
        }

        p {
            color: white;
            font-family: learn-serbian-light;
            font-size: set-size(md);
            margin: 0;
        }

        button {
            @include learn-serbian-button;
            font-size: set-size(md);
        }

        .button-locked {
            @include learn-serbian-disabled-button;
        }
    }

    img {
        height: 300px;
        width: 300px;
        object-fit: contain;
    }
}

@import "./lessons-inner-multiple-choice";
@import "./lessons-inner-translate";
@import "./lessons-inner-conversation";
@import "./lessons-inner-connect";