header {
    width: 100vw;
    position: fixed;
    top: 0;

    .header-holder {
        @include center;
        justify-content: space-between;
        background-color: $transparent-dark-grey;
        box-shadow: 0px 1px 5px 0px rgba($color: white, $alpha: .4);
        padding: 5px 50px;
        position: relative;

        .header-title-block #header-title {
            @include learn-serbian-title;
        }

        nav ul {
            @include center;
            gap: 50px;
            list-style-type: none;

            li a {
                color: $grey;
                font-family: learn-serbian-light;
                font-size: set-size(md);
                text-transform: capitalize;
                text-decoration: none;
                transition: 300ms;

                &:hover {
                    color: white;
                }
            }

            .nav-li-active a {
                color: white;
                font-weight: bold;
            }
        }

        .header-user-block img {
            height: 55px;
            width: 55px;
            object-fit: contain;
            border-radius: 50%;
        }
    }
}

.header-bottom {
    height: 60px;
    width: 100vw;
    @include center;
    background-color: $transparent-dark-grey;
    box-shadow: 0px -1px 5px 0px rgba($color: white, $alpha: .4);
    position: fixed;
    top: calc(100% - 60px);

    .header-bottom-link-holder {
        width: 100%;
        @include center;
        justify-content: space-between;
        padding: 10px 30px;

        .header-bottom-link {
            @include center(column);

            img {
                height: 30px;
                width: 30px;
                object-fit: contain;
            }

            p {
                color: $grey;
                font-family: learn-serbian-light;
                font-size: set-size(sm);
                margin: 0;
            }
        }
    }
}