#lessons {
    position: relative;
    overflow: hidden;
    
    header {
        position: relative;
    }
    
    .lessons-holder {
        height: calc(100vh - 60px);
        @include center;
        justify-content: flex-start;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }
        
        .lessons-info-holder {
            height: calc(100vh - 60px);
            width: 60%;
            @include center(column);
            align-items: flex-start;
            gap: 30px;
            padding-left: 100px;
            position: sticky;
            top: 0;

            h2 {
                color: white;
                font-family: learn-serbian-medium;
                font-size: set-size(miniheading);
                margin: 0;
            }

            p {
                width: 70%;
                color: white;
                font-family: learn-serbian-light;
                font-size: set-size(md);
                margin: 0;
            }

            button {
                @include learn-serbian-button;
                font-size: set-size(md);
                padding: 15px 40px;
            }

            .lessons-info-holder-time-points-holder {
                @include center;
                gap: 50px;

                .lessons-info-holder-time-holder,
                .lessons-info-holder-points-holder {
                    @include center;
                    gap: 15px;

                    img {
                        height: 40px;
                        width: 40px;
                        object-fit: contain;
                    }

                    strong {
                        color: $grey;
                        font-family: learn-serbian-medium;
                        font-size: set-size(lg);
                    }
                }
            }
        }

        .lessons-tree-holder {
            height: 100%;
            width: 40%;
            @include center;
            align-items: flex-start;
            margin-top: 150px;

            #lessons-tree-no-lessons {
                color: white;
                font-size: set-size(miniheading);
                text-align: center;
            }
        
            @import "./lessons-tree";
        }
    }

    @import "./inner/main";
}