@font-face {
    font-family: learn-serbian;
    src: url("../fonts/MontserratAlternates-Black.ttf");
}

@font-face {
    font-family: learn-serbian-medium;
    src: url("../fonts/MontserratAlternates-Medium.ttf");
}

@font-face {
    font-family: learn-serbian-medium-italic;
    src: url("../fonts/MontserratAlternates-MediumItalic.ttf");
}

@font-face {
    font-family: learn-serbian-bold;
    src: url("../fonts/MontserratAlternates-Bold.ttf");
}

@font-face {
    font-family: learn-serbian-bold-italic;
    src: url("../fonts/MontserratAlternates-BoldItalic.ttf");
}

@font-face {
    font-family: learn-serbian-light;
    src: url("../fonts/MontserratAlternates-Light.ttf");
}

@font-face {
    font-family: learn-serbian-light-italic;
    src: url("../fonts/MontserratAlternates-LightItalic.ttf");
}

@font-face {
    font-family: learn-serbian-thin;
    src: url("../fonts/MontserratAlternates-Thin.ttf");
}

@font-face {
    font-family: learn-serbian-thin-italic;
    src: url("../fonts/MontserratAlternates-ThinItalic.ttf");
}