@mixin center($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin learn-serbian-title($title: xl) {
    color: white;
    font-family: learn-serbian-bold-italic;
    font-size: set-size($title);
    text-transform: capitalize;
    margin: 0;
}

@mixin learn-serbian-button {
    color: white;
    font-family: learn-serbian-medium;
    font-size: set-size(lg);
    background-color: $blue;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
}