@mixin center($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin learn-serbian-title($title: xl) {
    color: white;
    font-family: learn-serbian-bold-italic;
    font-size: set-size($title);
    text-transform: capitalize;
    margin: 0;
}

@mixin learn-serbian-button {
    color: white;
    font-family: learn-serbian-medium;
    font-size: set-size(lg);
    background-color: $blue;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    transition: 300ms;

    &:hover {
        background-color: $purple;
        border: 1px solid white;
    }
}

@mixin no-scrollbar {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}