@font-face {
  font-family: learn-serbian;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Black.ttf");
}
@font-face {
  font-family: learn-serbian-italic;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-BlackItalic.ttf");
}
@font-face {
  font-family: learn-serbian-bold;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: learn-serbian-bold-italic;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-BoldItalic.ttf");
}
@font-face {
  font-family: learn-serbian-extra-bold;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-ExtraBold.ttf");
}
@font-face {
  font-family: learn-serbian-extra-bold-italic;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: learn-serbian-extra-light;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-ExtraLight.ttf");
}
@font-face {
  font-family: learn-serbian-extra-light-italic;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-ExtraLightItalic.ttf");
}
@font-face {
  font-family: learn-serbian-italic;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Italic.ttf");
}
@font-face {
  font-family: learn-serbian-light;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Light.ttf");
}
@font-face {
  font-family: learn-serbian-light-italic;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-LightItalic.ttf");
}
@font-face {
  font-family: learn-serbian-medium;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Medium.ttf");
}
@font-face {
  font-family: learn-serbian-medium-italic;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-MediumItalic.ttf");
}
@font-face {
  font-family: learn-serbian-regular;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Regular.ttf");
}
@font-face {
  font-family: learn-serbian-semi-bold;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-SemiBold.ttf");
}
@font-face {
  font-family: learn-serbian-semi-bold-italic;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-SemiBoldItalic.ttf");
}
@font-face {
  font-family: learn-serbian-thin;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Thin.ttf");
}
@font-face {
  font-family: learn-serbian-thin-italic;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-ThinItalic.ttf");
}
@font-face {
  font-family: learn-serbian-nunito;
  src: url("../fonts/Nunito/Nunito-Black.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-italic;
  src: url("../fonts/Nunito/Nunito-BlackItalic.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-bold;
  src: url("../fonts/Nunito/Nunito-Bold.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-bold-italic;
  src: url("../fonts/Nunito/Nunito-BoldItalic.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-extra-bold;
  src: url("../fonts/Nunito/Nunito-ExtraBold.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-extra-bold-italic;
  src: url("../fonts/Nunito/Nunito-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-extra-light;
  src: url("../fonts/Nunito/Nunito-ExtraLight.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-extra-light-italic;
  src: url("../fonts/Nunito/Nunito-ExtraLightItalic.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-italic;
  src: url("../fonts/Nunito/Nunito-Italic.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-light;
  src: url("../fonts/Nunito/Nunito-Light.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-light-italic;
  src: url("../fonts/Nunito/Nunito-LightItalic.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-medium;
  src: url("../fonts/Nunito/Nunito-Medium.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-medium-italic;
  src: url("../fonts/Nunito/Nunito-MediumItalic.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-regular;
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-semi-bold;
  src: url("../fonts/Nunito/Nunito-SemiBold.ttf");
}
@font-face {
  font-family: learn-serbian-nunito-semi-bold-italic;
  src: url("../fonts/Nunito/Nunito-SemiBoldItalic.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: learn-serbian;
  box-sizing: border-box;
  background: linear-gradient(#1a1632, #170925);
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
body img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

header {
  position: sticky;
  top: 0;
}
header .header-holder {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(45, 42, 56, 0.7);
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.4);
  padding: 5px 50px;
  position: relative;
}
header .header-holder .header-title-block #header-title {
  color: white;
  font-family: learn-serbian-bold-italic;
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
}
header .header-holder .header-title-block #header-search {
  width: 150%;
  color: white;
  font-family: learn-serbian-light-italic;
  font-size: 20px;
  background-color: #1a1632;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  transition: 300ms;
}
header .header-holder .header-title-block #header-search::-moz-placeholder {
  color: white;
}
header .header-holder .header-title-block #header-search::placeholder {
  color: white;
}
header .header-holder .header-title-block #header-search:focus {
  outline: none;
  border: 1px solid white;
}
header .header-holder nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
}
header .header-holder nav ul li a {
  color: #ccc;
  font-family: learn-serbian-light;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  transition: 300ms;
}
header .header-holder nav ul li a:hover {
  color: white;
}
header .header-holder nav ul .nav-li-active a {
  color: #ccc !important;
  font-weight: bold;
  cursor: default;
}
header .header-holder .header-user-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}
header .header-holder .header-user-block .header-points-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
header .header-holder .header-user-block .header-points-block img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-holder .header-user-block .header-points-block p {
  color: #ccc;
  font-family: learn-serbian-medium;
  font-size: 20px;
  font-weight: bold;
}
header .header-holder .header-user-block img {
  height: 50px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

.header-bottom {
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(45, 42, 56, 0.7);
  box-shadow: 0px -1px 5px 0px rgba(255, 255, 255, 0.4);
  position: fixed;
  top: calc(100% - 60px);
}
.header-bottom .header-bottom-link-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
}
.header-bottom .header-bottom-link-holder .header-bottom-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.header-bottom .header-bottom-link-holder .header-bottom-link img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-bottom .header-bottom-link-holder .header-bottom-link p {
  color: #ccc;
  font-family: learn-serbian-light;
  font-size: 15px;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: rgba(45, 42, 56, 0.7);
  box-shadow: 0px -1px 5px 0px rgba(255, 255, 255, 0.4);
  padding: 30px 200px;
}
footer .footer-title {
  color: white;
  font-family: learn-serbian-bold-italic;
  font-size: 25px;
  text-transform: capitalize;
  margin: 0;
  color: #ccc;
}
footer .footer-block-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-block-holder .footer-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
footer .footer-block-holder .footer-block strong {
  color: #ccc;
  font-family: learn-serbian-light;
  font-size: 16px;
}
footer .footer-block-holder .footer-block ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}
footer .footer-block-holder .footer-block ul li a {
  color: #ccc;
  font-family: learn-serbian-light;
  font-size: 14px;
  text-decoration: none;
}
footer .footer-image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}
footer .footer-image-holder img {
  height: 25px;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer-copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
footer .footer-copyright span {
  color: #ccc;
  font-family: learn-serbian-light-italic;
  font-size: 15px;
}

.special-letters-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.special-letters-holder button {
  height: 35px;
  width: 35px;
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  transition: 300ms;
  font-size: 15px;
  background-color: rgba(20, 102, 199, 0.5);
  border-radius: 7px;
  padding: 5px 7px;
}
.special-letters-holder button:hover {
  background-color: #282088;
  border: 1px solid white;
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 100px;
}
.home-section .home-block {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.home-section .home-block h2 {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 40px;
  margin: 0;
}
.home-section .home-block p {
  color: white;
  font-family: learn-serbian-light;
  font-size: 20px;
  margin: 0;
}
.home-section .home-block button {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  transition: 300ms;
}
.home-section .home-block button:hover {
  background-color: #282088;
  border: 1px solid white;
}
.home-section .home-inner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-section .home-inner-section img {
  height: 400px;
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-section .home-inner-section .home-block {
  width: 50%;
}
.home-section .home-lessons .home-block {
  align-items: flex-end;
}
.home-section .home-lessons .home-block h2, .home-section .home-lessons .home-block p {
  text-align: right;
}

.home-hero {
  height: 100vh;
  background-image: url("../images/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-info {
  gap: 100px;
  background: linear-gradient(#1a1632, #170925);
  padding: 50px 100px;
}

#lessons {
  position: relative;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#lessons::-webkit-scrollbar {
  display: none;
}
#lessons header {
  position: relative;
}
#lessons .lessons-holder {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}
#lessons .lessons-holder::-webkit-scrollbar {
  display: none;
}
#lessons .lessons-holder .lessons-info-holder {
  height: calc(100vh - 60px);
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-left: 100px;
  position: sticky;
  top: 0;
}
#lessons .lessons-holder .lessons-info-holder h2 {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 40px;
  margin: 0;
}
#lessons .lessons-holder .lessons-info-holder p {
  width: 70%;
  color: white;
  font-family: learn-serbian-light;
  font-size: 20px;
  margin: 0;
}
#lessons .lessons-holder .lessons-info-holder button {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  transition: 300ms;
  font-size: 20px;
  padding: 15px 40px;
}
#lessons .lessons-holder .lessons-info-holder button:hover {
  background-color: #282088;
  border: 1px solid white;
}
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-time-holder,
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-points-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-time-holder img,
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-points-holder img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-time-holder strong,
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-points-holder strong {
  color: #ccc;
  font-family: learn-serbian-medium;
  font-size: 25px;
}
#lessons .lessons-holder .lessons-tree-holder {
  max-height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 150px;
}
#lessons .lessons-holder .lessons-tree-holder #lessons-tree-no-lessons {
  color: white;
  font-size: 40px;
  text-align: center;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 200px;
  position: relative;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-line {
  height: 100%;
  width: 5px;
  background-color: white;
  position: absolute;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  transition: 300ms;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node .lessons-tree-node-block {
  border-radius: 10px;
  transform: rotate(45deg);
  position: absolute;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node strong {
  color: #0e1153;
  font-family: learn-serbian-nunito;
  font-size: 15px;
  z-index: 1;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active {
  height: 210px;
  width: 210px;
  cursor: default;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-1 {
  height: 210px;
  width: 210px;
  background-color: rgba(181, 12, 12, 0.55);
  filter: blur(2px);
  overflow: hidden;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-1 .lessons-tree-node-line-holder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transform: rotate(-45deg);
  position: relative;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-1 .lessons-tree-node-line-holder .lessons-tree-node-line-top {
  height: 100%;
  width: 5px;
  background-color: white;
  transform: translateY(-100%);
  position: absolute;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-1 .lessons-tree-node-line-holder .lessons-tree-node-line-bottom {
  height: 100%;
  width: 5px;
  background-color: white;
  transform: translateY(100%);
  position: absolute;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active:hover .lessons-tree-node-block-1 {
  height: 205px;
  width: 205px;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-2 {
  height: 180px;
  width: 180px;
  background-color: #b50c0c;
  border: 2px solid transparent;
  transition: 200ms;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active:hover .lessons-tree-node-block-2 {
  height: 185px;
  width: 185px;
  border: 2px solid white;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-3 {
  height: 160px;
  width: 160px;
  background-color: #1466c7;
  transition: 250ms;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active:hover .lessons-tree-node-block-3 {
  height: 150px;
  width: 150px;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-4 {
  height: 120px;
  width: 120px;
  background-color: white;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-default {
  height: 180px;
  width: 180px;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-default .lessons-tree-node-block-1 {
  height: 180px;
  width: 180px;
  background-color: #282088;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-default .lessons-tree-node-block-2 {
  height: 160px;
  width: 160px;
  background-color: #0e1153;
  border: 2px solid transparent;
  transition: 300ms;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-default:hover .lessons-tree-node-block-2 {
  height: 150px;
  width: 150px;
  border: 2px solid white;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-default .lessons-tree-node-block-3 {
  height: 120px;
  width: 120px;
  background-color: white;
}
#lessons .lessons-holder .lessons-tree-holder .lessons-tree .lessons-tree-spacer {
  height: 70px;
  width: 100%;
}
#lessons .lessons-inner {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#1a1632, #170925);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 500ms;
  z-index: 2;
}
#lessons .lessons-inner::-webkit-scrollbar {
  display: none;
}
#lessons .lessons-inner .lessons-inner-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(45, 42, 56, 0.7);
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 5px 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}
#lessons .lessons-inner .lessons-inner-header .lessons-inner-header-points-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
#lessons .lessons-inner .lessons-inner-header .lessons-inner-header-points-holder img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
}
#lessons .lessons-inner .lessons-inner-header .lessons-inner-header-points-holder strong {
  color: #ccc;
  font-size: 25px;
}
#lessons .lessons-inner .lessons-inner-header h2 {
  color: #ccc;
  font-family: learn-serbian-medium;
  font-size: 40px;
  margin: 0;
}
#lessons .lessons-inner .lessons-inner-header img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
#lessons .lessons-inner .lessons-inner-progress-bar {
  height: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(45, 42, 56, 0.7);
  position: absolute;
  top: 100%;
  left: 0;
  transition: 300ms;
  z-index: 2;
}
#lessons .lessons-inner .lessons-inner-progress-bar .lessons-inner-progress-bar-line-helper {
  height: 100%;
  width: 0;
  background-color: #1466c7;
  position: absolute;
  top: 0;
  transition: 500ms;
}
#lessons .lessons-inner .lessons-inner-progress-bar .lessons-inner-progress-bar-line {
  height: 100%;
  width: 0;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  transition: 1s;
}
#lessons .lessons-inner .lessons-inner-lesson {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-block {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-block .lessons-inner-block-holder {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-block .lessons-inner-block-holder h3 {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-block .lessons-inner-block-holder p {
  color: white;
  font-family: learn-serbian-light;
  font-size: 20px;
  margin: 0;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-block .lessons-inner-block-holder .block-button {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  transition: 300ms;
  font-size: 20px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-block .lessons-inner-block-holder .block-button:hover {
  background-color: #282088;
  border: 1px solid white;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-block .lessons-inner-block-holder .button-locked {
  background-color: #2d2a38;
  border: none;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-block .lessons-inner-block-holder .button-locked:hover {
  background-color: #2d2a38;
  border: none;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-block img {
  height: 300px;
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .lessons-inner-multiple-choice-questions-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .lessons-inner-multiple-choice-questions-holder button {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  transition: 300ms;
  width: 100%;
  border-radius: 10px;
  outline: 3px solid transparent;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .lessons-inner-multiple-choice-questions-holder button:hover {
  background-color: #282088;
  border: 1px solid white;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .lessons-inner-multiple-choice-questions-holder .button-neutral {
  background-color: #2d2641;
  border: 1px solid transparent;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .lessons-inner-multiple-choice-questions-holder .button-neutral:hover {
  background-color: #2d2641;
  border: 1px solid transparent;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .lessons-inner-multiple-choice-questions-holder .button-correct {
  outline: 3px solid #28a515;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .lessons-inner-multiple-choice-questions-holder .button-correct:hover {
  outline: 3px solid #28a515;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .lessons-inner-multiple-choice-questions-holder .button-wrong {
  background-color: #18234e;
  outline: 3px solid #b50c0c;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .lessons-inner-multiple-choice-questions-holder .button-wrong:hover {
  background-color: #18234e;
  outline: 3px solid #b50c0c;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .button-disabled {
  background-color: #2d2a38;
  border: none;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-multiple-choice .lessons-inner-multiple-choice-holder .button-disabled:hover {
  background-color: #2d2a38;
  border: none;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder {
  width: 100%;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder h3 {
  font-size: 35px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-description-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-description-holder span {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #1466c7;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  transition: 300ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-description-holder span:hover {
  background-color: #282088;
  border: 2px solid white;
  border-radius: 20px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-description-holder span img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 150ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-description-holder span:hover img {
  height: 25px;
  width: 25px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-description-holder p {
  color: white;
  font-size: 25px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-textarea-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-textarea-holder textarea {
  height: 200px;
  width: 100%;
  color: white;
  font-family: learn-serbian-medium;
  font-size: 20px;
  background-color: rgba(96, 96, 96, 0.5);
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px 5px;
  position: relative;
  top: 0;
  resize: none;
  transition: 150ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-textarea-holder textarea:focus {
  top: -10px;
  outline: none;
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.5);
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-textarea-holder textarea::-moz-placeholder {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 20px;
  padding: 10px 5px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .lessons-inner-translate-textarea-holder textarea::placeholder {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 20px;
  padding: 10px 5px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .button-disabled {
  background-color: #2d2a38;
  border: none;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-translate .lessons-inner-translate-holder .button-disabled:hover {
  background-color: #2d2a38;
  border: none;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder {
  width: 100%;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display {
  width: 100%;
  background-color: #1a1632;
  border: 3px solid white;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  position: relative;
  overflow: hidden;
  transition: 300ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-user-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  background: linear-gradient(90deg, #170925 20%, #1a1632 90%);
  border-bottom: 2px solid white;
  padding: 10px 0;
  padding-left: 15px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-user-holder img {
  height: 55px;
  width: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-user-holder strong {
  color: white;
  font-size: 30px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder {
  height: 400px;
  width: 100%;
  position: relative;
  padding-bottom: 30px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder .lessons-inner-conversation-display-no-messages {
  width: 50%;
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  text-align: center;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder .lessons-inner-conversation-display-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0;
  position: relative;
  top: 10px;
  opacity: 0;
  transition: 300ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder .lessons-inner-conversation-display-message p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  font-family: learn-serbian-medium;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 5px 10px;
  transition: 300ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder .lessons-inner-conversation-display-message-user {
  justify-content: flex-end;
  left: -10px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder .lessons-inner-conversation-display-message-user p {
  background-color: #2d2a38;
  border-bottom-right-radius: 0;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder .lessons-inner-conversation-display-message-participant {
  justify-content: flex-start;
  left: 10px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder .lessons-inner-conversation-display-message-participant img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder .lessons-inner-conversation-display-message-participant p {
  background-color: #1466c7;
  border-bottom-left-radius: 0;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder .lessons-inner-conversation-display-message-info {
  width: 100%;
  color: white;
  font-family: learn-serbian-medium;
  font-size: 15px;
  background-color: #1466c7;
  border-top: 1px solid white;
  margin: 0;
  padding: 5px 0;
  padding-left: 15px;
  opacity: 0;
  position: absolute;
  top: 105%;
  left: 0;
  transform: translateY(-100%);
  transition: 300ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-messages-holder-active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  background: linear-gradient(90deg, #1a1632 20%, #170925 90%);
  border-top: 2px solid white;
  position: relative;
  padding: 10px 0;
  transition: 300ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder input {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 20px;
  background-color: #170925;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: default;
  padding: 10px 15px;
  transition: 300ms;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder input:focus {
  outline: none;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder input::-moz-placeholder {
  color: #ccc;
  font-family: learn-serbian-medium;
  font-size: 20px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder input::placeholder {
  color: #ccc;
  font-family: learn-serbian-medium;
  font-size: 20px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #2d2a38;
  border: none;
  cursor: default;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder button:hover {
  background-color: #2d2a38;
  border: none;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder button img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder-active input {
  border: 1px solid white;
  cursor: text;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder-active button {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  transition: 300ms;
  border-radius: 50%;
  cursor: pointer !important;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder .lessons-inner-conversation-display .lessons-inner-conversation-display-keyboard-holder-active button:hover {
  background-color: #282088;
  border: 1px solid white;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder button {
  background-color: #2d2a38;
  border: none;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-conversation .lessons-inner-conversation-holder button:hover {
  background-color: #2d2a38;
  border: none;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder {
  width: 100%;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left button,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right button {
  width: 100%;
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  transition: 300ms;
  position: relative;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left button:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right button:hover {
  background-color: #282088;
  border: 1px solid white;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-active,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-blocked,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-correct,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-incorrect,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-active,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-blocked,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-correct,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-incorrect {
  border: 1px solid white;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-active:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-blocked:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-correct:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-incorrect:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-active:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-blocked:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-correct:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-incorrect:hover {
  border: 1px solid white;
  cursor: default;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-active,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-active {
  background-color: #282088;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-blocked,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-blocked {
  background-color: #2d2a38;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-blocked:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-blocked:hover {
  background-color: #2d2a38;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-correct,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-correct {
  background-color: #28a515;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-correct:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-correct:hover {
  background-color: #28a515;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-incorrect,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-incorrect {
  background-color: #b50c0c;
}
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-left .button-incorrect:hover,
#lessons .lessons-inner .lessons-inner-lesson .lessons-inner-connect .lessons-inner-connect-holder .lessons-inner-connect-button-holder .lessons-inner-connect-button-holder-right .button-incorrect:hover {
  background-color: #b50c0c;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  header .header-holder {
    padding: 5px 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  header .header-holder {
    padding: 5px 15px;
  }
  header .header-holder .header-title-block #header-title {
    font-size: 25px;
  }
  header .header-holder .header-user-block img {
    height: 45px;
    width: 45px;
  }
}
@media screen and (max-width: 319px) {
  header .header-holder {
    padding: 5px 15px;
  }
  header .header-holder .header-title-block #header-title {
    font-size: 20px;
  }
  header .header-holder .header-user-block img {
    height: 40px;
    width: 40px;
  }
  .header-bottom {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  footer {
    padding: 30px 150px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer {
    padding: 30px 50px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  footer {
    padding: 30px;
    padding-bottom: 80px;
  }
  footer .footer-block-holder {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-image-holder {
    width: 100%;
    justify-content: space-between;
  }
  footer .footer-image-holder img {
    height: 60px;
    width: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    padding: 30px;
    padding-bottom: 80px;
  }
  footer .footer-block-holder {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-image-holder {
    width: 100%;
    justify-content: space-between;
  }
  footer .footer-image-holder img {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 319px) {
  footer {
    padding: 30px;
    padding-bottom: 80px;
  }
  footer .footer-block-holder {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-image-holder {
    width: 100%;
    justify-content: space-between;
    gap: 5px;
  }
  footer .footer-image-holder img {
    height: 25px;
    width: 25px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1699px) {
  .home-hero {
    background-size: contain;
    background-position-y: 50%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .home-section .home-block h2 {
    font-size: 35px;
  }
  .home-section .home-block p {
    font-size: 16px;
  }
  .home-section .home-section .home-inner-section img {
    height: 300px;
    width: 300px;
  }
  .home-hero {
    background-size: contain;
    background-position-y: 50%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .home-section .home-block h2 {
    font-size: 35px;
  }
  .home-section .home-block p {
    font-size: 16px;
  }
  .home-section .home-inner-section img {
    height: 300px;
    width: 300px;
  }
  .home-hero {
    background-size: contain;
    background-position-y: 50%;
  }
  .home-info {
    padding: 50px 75px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .home-section {
    align-items: center;
  }
  .home-section .home-block {
    width: auto !important;
    align-items: center !important;
  }
  .home-section .home-block h2 {
    font-size: 35px !important;
    text-align: center !important;
  }
  .home-section .home-block img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home-section .home-block p {
    font-size: 20px !important;
    text-align: center !important;
  }
  .home-section .home-block button {
    font-size: 30px;
  }
  .home-section .home-inner-section {
    justify-content: center;
  }
  .home-section .home-inner-section h2 {
    font-size: 50px !important;
  }
  .home-section .home-inner-section img {
    height: 300px !important;
    width: 300px !important;
  }
  .home-hero {
    height: auto;
    background: none;
    overflow: hidden;
    padding: 0 50px !important;
    padding-top: 30px !important;
  }
  .home-hero img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 50px;
  }
  .home-info {
    padding: 30px 50px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-section {
    align-items: center;
  }
  .home-section .home-block {
    width: auto !important;
    align-items: center !important;
  }
  .home-section .home-block h2 {
    font-size: 30px !important;
    text-align: center !important;
  }
  .home-section .home-block img {
    height: auto;
    width: 80vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home-section .home-block p {
    font-size: 20px !important;
    text-align: center !important;
  }
  .home-section .home-block button {
    font-size: 30px;
  }
  .home-section .home-inner-section {
    justify-content: center;
  }
  .home-section .home-inner-section h2 {
    font-size: 35px !important;
  }
  .home-hero {
    height: auto;
    background: none;
    overflow: hidden;
    padding: 0 50px !important;
    padding-top: 30px !important;
  }
  .home-hero img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 50px;
  }
  .home-info {
    padding: 30px 50px !important;
  }
}
@media screen and (max-width: 319px) {
  .home-section {
    align-items: center;
  }
  .home-section .home-block {
    width: auto !important;
    align-items: center !important;
  }
  .home-section .home-block h2 {
    font-size: 20px !important;
    text-align: center !important;
  }
  .home-section .home-block img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home-section .home-block p {
    font-size: 15px !important;
    text-align: center !important;
  }
  .home-section .home-block button {
    font-size: 20px;
  }
  .home-section .home-inner-section {
    justify-content: center;
  }
  .home-section .home-inner-section h2 {
    font-size: 20px !important;
  }
  .home-hero {
    height: auto;
    background: none;
    overflow: hidden;
    padding: 0 50px !important;
    padding-top: 30px !important;
  }
  .home-hero img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 50px;
  }
  .home-info {
    padding: 30px 50px !important;
  }
}/*# sourceMappingURL=main.css.map */