@font-face {
  font-family: learn-serbian;
  src: url("../fonts/MontserratAlternates-Black.ttf");
}
@font-face {
  font-family: learn-serbian-medium;
  src: url("../fonts/MontserratAlternates-Medium.ttf");
}
@font-face {
  font-family: learn-serbian-medium-italic;
  src: url("../fonts/MontserratAlternates-MediumItalic.ttf");
}
@font-face {
  font-family: learn-serbian-bold;
  src: url("../fonts/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: learn-serbian-bold-italic;
  src: url("../fonts/MontserratAlternates-BoldItalic.ttf");
}
@font-face {
  font-family: learn-serbian-light;
  src: url("../fonts/MontserratAlternates-Light.ttf");
}
@font-face {
  font-family: learn-serbian-thin;
  src: url("../fonts/MontserratAlternates-Thin.ttf");
}
@font-face {
  font-family: learn-serbian-thin-italic;
  src: url("../fonts/MontserratAlternates-ThinItalic.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: learn-serbian;
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(#1a1632, #170925);
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
}
header .header-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(45, 42, 56, 0.7);
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.4);
  padding: 5px 50px;
}
header .header-holder .header-title-block #header-title {
  color: white;
  font-family: learn-serbian-bold-italic;
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
}
header .header-holder nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
}
header .header-holder nav ul li a {
  color: #ccc;
  font-family: learn-serbian-light;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  transition: 300ms;
}
header .header-holder nav ul li a:hover {
  color: white;
}
header .header-holder nav ul .nav-li-active a {
  color: white;
  font-weight: bold;
}
header .header-holder .header-user-block img {
  height: 55px;
  width: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

.home-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 100px;
}
.home-section .home-block {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.home-section .home-block h2 {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 40px;
  margin: 0;
}
.home-section .home-block p {
  color: white;
  font-family: learn-serbian-light;
  font-size: 20px;
  margin: 0;
}
.home-section .home-block button {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
}
.home-section .home-inner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-section .home-inner-section img {
  height: 400px;
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-section .home-inner-section .home-block {
  width: 50%;
}
.home-section .home-lessons .home-block {
  align-items: flex-end;
}
.home-section .home-lessons .home-block h2, .home-section .home-lessons .home-block p {
  text-align: right;
}

.home-hero {
  background-image: url("../images/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-info {
  gap: 100px;
}/*# sourceMappingURL=main.css.map */