@font-face {
  font-family: learn-serbian;
  src: url("../fonts/MontserratAlternates-Black.ttf");
}
@font-face {
  font-family: learn-serbian-medium;
  src: url("../fonts/MontserratAlternates-Medium.ttf");
}
@font-face {
  font-family: learn-serbian-medium-italic;
  src: url("../fonts/MontserratAlternates-MediumItalic.ttf");
}
@font-face {
  font-family: learn-serbian-bold;
  src: url("../fonts/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: learn-serbian-bold-italic;
  src: url("../fonts/MontserratAlternates-BoldItalic.ttf");
}
@font-face {
  font-family: learn-serbian-light;
  src: url("../fonts/MontserratAlternates-Light.ttf");
}
@font-face {
  font-family: learn-serbian-light-italic;
  src: url("../fonts/MontserratAlternates-LightItalic.ttf");
}
@font-face {
  font-family: learn-serbian-thin;
  src: url("../fonts/MontserratAlternates-Thin.ttf");
}
@font-face {
  font-family: learn-serbian-thin-italic;
  src: url("../fonts/MontserratAlternates-ThinItalic.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: learn-serbian;
  box-sizing: border-box;
  background: linear-gradient(#1a1632, #170925);
}

header {
  position: sticky;
  top: 0;
}
header .header-holder {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(45, 42, 56, 0.7);
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.4);
  padding: 5px 50px;
  position: relative;
}
header .header-holder .header-title-block #header-title {
  color: white;
  font-family: learn-serbian-bold-italic;
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
}
header .header-holder .header-title-block #header-search {
  width: 150%;
  color: white;
  font-family: learn-serbian-light-italic;
  font-size: 20px;
  background-color: #1a1632;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  transition: 300ms;
}
header .header-holder .header-title-block #header-search::-moz-placeholder {
  color: white;
}
header .header-holder .header-title-block #header-search::placeholder {
  color: white;
}
header .header-holder .header-title-block #header-search:focus {
  outline: none;
  border: 1px solid white;
}
header .header-holder nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
}
header .header-holder nav ul li a {
  color: #ccc;
  font-family: learn-serbian-light;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  transition: 300ms;
}
header .header-holder nav ul li a:hover {
  color: white;
}
header .header-holder nav ul .nav-li-active a {
  color: #ccc !important;
  font-weight: bold;
  cursor: default;
}
header .header-holder .header-user-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}
header .header-holder .header-user-block .header-points-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
header .header-holder .header-user-block .header-points-block img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-holder .header-user-block .header-points-block p {
  color: #ccc;
  font-family: learn-serbian-medium;
  font-size: 20px;
  font-weight: bold;
}
header .header-holder .header-user-block img {
  height: 50px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

.header-bottom {
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(45, 42, 56, 0.7);
  box-shadow: 0px -1px 5px 0px rgba(255, 255, 255, 0.4);
  position: fixed;
  top: calc(100% - 60px);
}
.header-bottom .header-bottom-link-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
}
.header-bottom .header-bottom-link-holder .header-bottom-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.header-bottom .header-bottom-link-holder .header-bottom-link img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-bottom .header-bottom-link-holder .header-bottom-link p {
  color: #ccc;
  font-family: learn-serbian-light;
  font-size: 15px;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: rgba(45, 42, 56, 0.7);
  box-shadow: 0px -1px 5px 0px rgba(255, 255, 255, 0.4);
  padding: 30px 200px;
}
footer .footer-title {
  color: white;
  font-family: learn-serbian-bold-italic;
  font-size: 25px;
  text-transform: capitalize;
  margin: 0;
  color: #ccc;
}
footer .footer-block-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-block-holder .footer-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
footer .footer-block-holder .footer-block strong {
  color: #ccc;
  font-family: learn-serbian-light;
  font-size: 16px;
}
footer .footer-block-holder .footer-block ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}
footer .footer-block-holder .footer-block ul li a {
  color: #ccc;
  font-family: learn-serbian-light;
  font-size: 14px;
  text-decoration: none;
}
footer .footer-image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}
footer .footer-image-holder img {
  height: 25px;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer-copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
footer .footer-copyright span {
  color: #ccc;
  font-family: learn-serbian-light-italic;
  font-size: 15px;
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 100px;
}
.home-section .home-block {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.home-section .home-block h2 {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 40px;
  margin: 0;
}
.home-section .home-block p {
  color: white;
  font-family: learn-serbian-light;
  font-size: 20px;
  margin: 0;
}
.home-section .home-block button {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
}
.home-section .home-inner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-section .home-inner-section img {
  height: 400px;
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-section .home-inner-section .home-block {
  width: 50%;
}
.home-section .home-lessons .home-block {
  align-items: flex-end;
}
.home-section .home-lessons .home-block h2, .home-section .home-lessons .home-block p {
  text-align: right;
}

.home-hero {
  height: 100vh;
  background-image: url("../images/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-info {
  gap: 100px;
  background: linear-gradient(#1a1632, #170925);
  padding: 50px 100px;
}

#lessons header {
  position: relative;
}
#lessons .lessons-holder {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}
#lessons .lessons-holder::-webkit-scrollbar {
  display: none;
}
#lessons .lessons-holder .lessons-info-holder {
  height: calc(100vh - 60px);
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-left: 100px;
  position: sticky;
  top: 0;
}
#lessons .lessons-holder .lessons-info-holder h2 {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 40px;
  margin: 0;
}
#lessons .lessons-holder .lessons-info-holder p {
  width: 70%;
  color: white;
  font-family: learn-serbian-light;
  font-size: 20px;
  margin: 0;
}
#lessons .lessons-holder .lessons-info-holder button {
  color: white;
  font-family: learn-serbian-medium;
  font-size: 25px;
  background-color: #1466c7;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  padding: 15px 40px;
}
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-time-holder,
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-points-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-time-holder img,
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-points-holder img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-time-holder strong,
#lessons .lessons-holder .lessons-info-holder .lessons-info-holder-time-points-holder .lessons-info-holder-points-holder strong {
  color: #ccc;
  font-family: learn-serbian-medium;
  font-size: 25px;
}
#lessons .lessons-holder .lessons-tree-holder {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 150px;
}
#lessons .lessons-holder .lessons-tree {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 200px;
  position: relative;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-line {
  height: 100%;
  width: 5px;
  background-color: white;
  position: absolute;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node .lessons-tree-node-block {
  border-radius: 10px;
  transform: rotate(45deg);
  position: absolute;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node strong {
  color: #0e1153;
  font-size: 15px;
  z-index: 1;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active {
  height: 210px;
  width: 210px;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-1 {
  height: 210px;
  width: 210px;
  background-color: rgba(181, 12, 12, 0.55);
  filter: blur(2px);
  overflow: hidden;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-1 .lessons-tree-node-line-holder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transform: rotate(-45deg);
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-1 .lessons-tree-node-line-holder .lessons-tree-node-line {
  height: 100%;
  width: 5px;
  background-color: white;
  transform: translateY(100%);
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-2 {
  height: 180px;
  width: 180px;
  background-color: #b50c0c;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-3 {
  height: 160px;
  width: 160px;
  background-color: #1466c7;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-active .lessons-tree-node-block-4 {
  height: 120px;
  width: 120px;
  background-color: white;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-default {
  height: 180px;
  width: 180px;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-default .lessons-tree-node-block-1 {
  height: 180px;
  width: 180px;
  background-color: #282088;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-default .lessons-tree-node-block-2 {
  height: 160px;
  width: 160px;
  background-color: #0e1153;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-node-holder .lessons-tree-node-default .lessons-tree-node-block-3 {
  height: 120px;
  width: 120px;
  background-color: white;
}
#lessons .lessons-holder .lessons-tree .lessons-tree-spacer {
  height: 70px;
  width: 100%;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  header .header-holder {
    padding: 5px 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  header .header-holder {
    padding: 5px 15px;
  }
  header .header-holder .header-title-block #header-title {
    font-size: 25px;
  }
  header .header-holder .header-user-block img {
    height: 45px;
    width: 45px;
  }
}
@media screen and (max-width: 319px) {
  header .header-holder {
    padding: 5px 15px;
  }
  header .header-holder .header-title-block #header-title {
    font-size: 20px;
  }
  header .header-holder .header-user-block img {
    height: 40px;
    width: 40px;
  }
  .header-bottom {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  footer {
    padding: 30px 150px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer {
    padding: 30px 50px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  footer {
    padding: 30px;
    padding-bottom: 80px;
  }
  footer .footer-block-holder {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-image-holder {
    width: 100%;
    justify-content: space-between;
  }
  footer .footer-image-holder img {
    height: 60px;
    width: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    padding: 30px;
    padding-bottom: 80px;
  }
  footer .footer-block-holder {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-image-holder {
    width: 100%;
    justify-content: space-between;
  }
  footer .footer-image-holder img {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 319px) {
  footer {
    padding: 30px;
    padding-bottom: 80px;
  }
  footer .footer-block-holder {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-image-holder {
    width: 100%;
    justify-content: space-between;
    gap: 5px;
  }
  footer .footer-image-holder img {
    height: 25px;
    width: 25px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1699px) {
  .home-hero {
    background-size: contain;
    background-position-y: 50%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .home-section .home-block h2 {
    font-size: 35px;
  }
  .home-section .home-block p {
    font-size: 16px;
  }
  .home-section .home-section .home-inner-section img {
    height: 300px;
    width: 300px;
  }
  .home-hero {
    background-size: contain;
    background-position-y: 50%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .home-section .home-block h2 {
    font-size: 35px;
  }
  .home-section .home-block p {
    font-size: 16px;
  }
  .home-section .home-inner-section img {
    height: 300px;
    width: 300px;
  }
  .home-hero {
    background-size: contain;
    background-position-y: 50%;
  }
  .home-info {
    padding: 50px 75px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .home-section {
    align-items: center;
  }
  .home-section .home-block {
    width: auto !important;
    align-items: center !important;
  }
  .home-section .home-block h2 {
    font-size: 35px !important;
    text-align: center !important;
  }
  .home-section .home-block img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home-section .home-block p {
    font-size: 20px !important;
    text-align: center !important;
  }
  .home-section .home-block button {
    font-size: 30px;
  }
  .home-section .home-inner-section {
    justify-content: center;
  }
  .home-section .home-inner-section h2 {
    font-size: 50px !important;
  }
  .home-section .home-inner-section img {
    height: 300px !important;
    width: 300px !important;
  }
  .home-hero {
    height: auto;
    background: none;
    overflow: hidden;
    padding: 0 50px !important;
    padding-top: 30px !important;
  }
  .home-hero img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 50px;
  }
  .home-info {
    padding: 30px 50px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-section {
    align-items: center;
  }
  .home-section .home-block {
    width: auto !important;
    align-items: center !important;
  }
  .home-section .home-block h2 {
    font-size: 30px !important;
    text-align: center !important;
  }
  .home-section .home-block img {
    height: auto;
    width: 80vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home-section .home-block p {
    font-size: 20px !important;
    text-align: center !important;
  }
  .home-section .home-block button {
    font-size: 30px;
  }
  .home-section .home-inner-section {
    justify-content: center;
  }
  .home-section .home-inner-section h2 {
    font-size: 35px !important;
  }
  .home-hero {
    height: auto;
    background: none;
    overflow: hidden;
    padding: 0 50px !important;
    padding-top: 30px !important;
  }
  .home-hero img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 50px;
  }
  .home-info {
    padding: 30px 50px !important;
  }
}
@media screen and (max-width: 319px) {
  .home-section {
    align-items: center;
  }
  .home-section .home-block {
    width: auto !important;
    align-items: center !important;
  }
  .home-section .home-block h2 {
    font-size: 20px !important;
    text-align: center !important;
  }
  .home-section .home-block img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home-section .home-block p {
    font-size: 15px !important;
    text-align: center !important;
  }
  .home-section .home-block button {
    font-size: 20px;
  }
  .home-section .home-inner-section {
    justify-content: center;
  }
  .home-section .home-inner-section h2 {
    font-size: 20px !important;
  }
  .home-hero {
    height: auto;
    background: none;
    overflow: hidden;
    padding: 0 50px !important;
    padding-top: 30px !important;
  }
  .home-hero img {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 50px;
  }
  .home-info {
    padding: 30px 50px !important;
  }
}/*# sourceMappingURL=main.css.map */