@import "./additional/main";

body {
    margin: 0;
    padding: 0;
    font-family: learn-serbian;
    box-sizing: border-box;
    background: linear-gradient($gradient-first, $gradient-second);
}

@import "./components/main";
@import "./home/main";