@media screen and (min-width: 1700px) {

}

@media screen and (min-width: 1201px) and (max-width: 1699px) {
    .home-hero {
        background-size: contain;
        background-position-y: 50%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .home-block {
        h2 {
            font-size: set-size(xxl) !important;
        }

        p {
            font-size: 16px !important;
        }
    }
    
    .home-inner-section img {
        height: 300px !important;
        width: 300px !important;
    }
    
    .home-hero {
        background-size: contain;
        background-position-y: 50%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .home-block {
        h2 {
            font-size: set-size(xxl) !important;
        }

        p {
            font-size: 16px !important;
        }
    }
    
    .home-inner-section img {
        height: 300px !important;
        width: 300px !important;
    }
    
    .home-hero {
        background-size: contain;
        background-position-y: 50%;
    }

    .home-info {
        padding: 50px 75px !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .home-section {
        align-items: center;
        
        .home-block {
            width: auto;
            align-items: center !important;
            
            h2 {
                font-size: set-size(xxl) !important;
                text-align: center;
            }
    
            p {
                font-size: set-size(md) !important;
                text-align: center;
            }

            button {
                font-size: set-size(xl);
            }
        }
        
        .home-inner-section img {
            height: 300px !important;
            width: 300px !important;
        }
    }
    
    .home-hero {
        height: auto;
        background: none;
        overflow: hidden;

        img {
            height: 1000px;
            width: 1000px;
            object-fit: contain;
        }
    }

    .home-info {
        padding: 50px 75px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    
}

@media screen and (max-width: 319px) {
    
}